<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title><%= @title %></title>
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <style>
      body {
        padding-top: 75px;
      }
      .starter-template {
        padding: 40px 15px;
        text-align: center;
      }
      .container {
        max-width:1000px;
      }
    </style>
  </head>

  <body>
  
  <div class="container">
    <div class="jumbotron">
      <h1>Hacker News RSS</h1></a>
    </div>
    <div class="container">
      
      <% if flash[:notice] %>
        <p class="alert alert-success"><%= flash[:notice] %>
      <% end %>
      <% if flash[:error] %>
        <p class="alert alert-warning"><%= flash[:error] %>
      <% end %>

    </div><!-- /.container -->
    <a href="/posts/create"><h4>Add Favorite</h4></a>
    <div class="row">
      <div class="col-sm-4">
        <div class="container">
           <h3>Favorites</h3>
           <%= yield %>
        </div>
      </div>
      <div class="col-sm-4">
        <div class:"container">
          <h3>Current Feed</h3>
            <ul>
            <% RssItems::RSS_ITEMS.items.each do |item|  %>
                 <li><a href="<%= item.link %>"><%= item.title %></a><br>
                     <%= item.link %></li>
            <% end %>
            </ul>
        </div>
      </div>
    </div>
   </div>
 


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
    <script>
    //** removes alerts after 4 seconds */
    window.setTimeout(function() {
        $(".alert").fadeTo(4500, 0).slideUp(500, function(){
            $(this).remove();
        });
    }, 4000);
    </script>
  </body>
</html>
